<!-- 慣性スクロールの停止 -->

<div class="content">
    <p>ほげほげ</p>
</div>

<div class="content">
    <p>ほげほげ</p>
</div>

<div class="content">
    <p>ほげほげ</p>
</div>

<div class="content">
    <p>ほげほげ</p>
</div>

<div class="content">
    <p>ほげほげ</p>
</div>

<div class="content stop">
    <p>ほげほげ</p>
</div>

<div class="content">
    <p>ほげほげ</p>
</div>

<div class="content">
    <p>ほげほげ</p>
</div>

<div class="content">
    <p>ほげほげ</p>
</div>

<div class="content stop">
    <p>ほげほげ</p>
</div>

<div class="content">
    <p>ほげほげ</p>
</div>

<div class="content stop">
    <p>ほげほげ</p>
</div>

<div class="content">
    <p>ほげほげ</p>
</div>

<div class="content">
    <p>ほげほげ</p>
</div>

<div class="content stop">
    <p>ほげほげ</p>
</div>

<div class="content">
    <p>ほげほげ</p>
</div>

<div class="content">
    <p>ほげほげ</p>
</div>

<div class="content">
    <p>ほげほげ</p>
</div>

<div class="content">
    <p>ほげほげ</p>
</div>

<div class="content">
    <p>ほげほげ</p>
</div>

<div class="content">
    <p>ほげほげ</p>
</div>

