<!-- 画像の切り替えをz-indexの重なりで切り替えてみる -->

<div class="image-wrapper">
	<div id="imageList2" class="lists2">
		<div class="image6"></div>
		<div class="image7"></div>
		<div class="image8"></div>
		<div class="image9"></div>
		<div class="image10"></div>
	</div>

	<div class="contents">
		<div class="top-box2" id="image6"></div>
		<div class="top-box2" id="image7"></div>
		<div class="top-box2" id="image8"></div>
		<div class="top-box2" id="image9"></div>
		<div class="top-box2" id="image10"></div>
	</div>
</div>

<script src="https://unpkg.com/scrollreveal"></script>